body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    background: #2aa14a;
    color: white;
    border: none;
    border-radius: 5px;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.resultado.sucesso {
    background: #d1fae5;
}

.resultado.erro {
    background: #fee2e2;
}

.resultado.alerta {
    background: #fef3c7;
}

.icone {
    font-size: 30px;
}